.sectionFirst, .sectionSecond {
    position: relative;
    overflow: hidden;
    transition: height 1s ease-out;
  }
  
  .sectionFirst {
    background-color: #2c2a2a;
    color: white;
    height: 100vh; // Initial height
  }
  
  .sectionSecond {
    background-color: black;
    color: white;
    height: 50vh; // Initial height
    position: relative;
  }
  
  .inner {
    position: relative;
    z-index: 1;
  }
  