.page4 {
    min-height: 40vh; 
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px; 
    padding-top: 0;
}

.elem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    position: relative; 
}

.text-div {
    height: 204px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

.elem h1 {
    font-size: 7vw;
    margin: 0;
    transition: all ease-out 0.5s;
    color: white;
}

.elem img {
    position: absolute;
    height: 150px;
    width: auto;
    object-fit: cover;
    flex-shrink: 0;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}

.elem img:nth-child(1) {
    left: 10%;
}

.elem img:nth-child(3) {
    right: 10%;
}

.elem:hover h1 {
   transform: translateY(-100%);
   color: white;
   overflow: hidden;
}

.elem:hover img {
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
